<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/asset/cast.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <title>Scene {{data.replace('_', ' ').capitalize()}} - Gang Show Brisbane </title>
    <script type="text/javascript" src="/asset/cast.js"></script>
    <script type="text/javascript" id="jsScript" lookup="{{data}}" src="/asset/script.js"></script>
</head>
<body>
    <div class="current item">
        <label class="item-heading"><span id="connected"></span> 
        <label id="Next Scene" class="item-value">Scene not loaded</label>
    </div>
    <div class="current-notes">
        <label id="Cast Call" class="item-value"></label>
    </div>
    <div id="Cue" class="cue"></div>
    </div>
</body>

</html>
