html, body {
	font-family: 'Acme', sans-serif;
	color: lightgrey;
	background-color: rgb(55, 58, 58);
	font-size: 80px;
}

.current-call {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

#CastCall {
	font-size: 40px;
	transition-property: font-size;
	transition-duration: 2s;
	text-transform: uppercase;
}

#CastCall.transition-class {
	font-size: 80px;
}

.next {
	text-align: center;
}

#connected {
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	margin-left: 10px;
}

#connected.red {
	background-color: red;
}

#connected.green {
	background-color: green;
}


.shimmer {
  display: inline-block;
  color:white;
  
  background: rgb(5, 139, 172) -webkit-gradient(linear, 100% 0, 0 0, from(rgb(5, 139, 172)), color-stop(0.5, aqua), to(teal));
  
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; /*50px*/
  
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 12.5rem top; /*200px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}
