<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/asset/cast.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <title>Scene {{data.replace('_', ' ').capitalize()}} - Gang Show Brisbane </title>
    <script type="text/javascript" src="/asset/cast.js"></script>
    <script type="text/javascript" id="jsScript" lookup="{{data}}" src="/asset/script.js"></script>
</head>
<body>
    <label class="item-heading"><span id="connected"></span> 
    <div class="next">
            <label id="next-scene" class="item-value"></label><br/>
            <label id="Cue" class="cue"></label><label id="bracket"></label>
        <label id="NextScene" class="item-value"></label>
    </div>
    <div class="current-call">
        <!-- <label>Cast:</label>  -->
        <label id="CastCall" class="shimmer"></label>
    </div>
</body>

</html>
