<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <title>Scene Cue - Gang Show</title>
</head>
<body>
    <div class="app">
        <div class="item">
            <label class="item-heading">Current Item: </label>
            <label class="item-value">Feel the Beat</label>
        </div>
        <div class="cue">21</div>
        <div class="item">
            <label class="item-heading">Next Item: </label>
            <label class="item-value">Cheesed Off</label>
        </div>
    </div>
</body>

</html>