<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/asset/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <title>Scene {{data.replace('_', ' ').capitalize()}} - Gang Show Brisbane </title>
    <script src="/asset/script.js?data={{data}}"></script>
</head>
<body>
    <div class="current item">
        <label class="item-heading"><span id="connected"></span> Cue: 
            <label id="current-cue" class="item-value">0</label></label>
        <label id="current-scene" class="item-value">Scene not loaded</label>
    </div>
    <div class="current-notes">
        <label class="notes-heading">Notes:</label>
        <label id="current-notes-content" class="notes-content"></label>
    </div>
    <div id="cue" class="cue"></div>
    <div class="next item">
        <label class="item-heading">Next Cue: 
            <label id="next-cue" class="item-value">0</label></label>
        <label id="next-scene" class="item-value">Scene not loaded</label>
    </div>
    <div class="next-notes">
        <label class="notes-heading">Notes:</label>
        <label id="next-notes-content" class="notes-content"></label>
    </div>
</body>

</html>
