<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <title>Scene Cue - Gang Show</title>
</head>
<body>
    <div class="app">
        <div class="item">
            <label class="item-heading">Current Scene: </label>
            <label id="current-scene" class="item-value">Scene not loaded</label>
        </div>
        <div id="cue-number" class="cue">21</div>
        <div class="item">
            <label class="item-heading">Next Scene: </label>
            <label id="next-scene" class="item-value">Scene not loaded</label>
        </div>
    </div>
</body>

</html>

<script src="/script/{{data}}"></script>
