<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/asset/lighting.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <title>Scene {{data.replace('_', ' ').capitalize()}} - Gang Show Brisbane </title>
    <script type="text/javascript" src="/asset/lighting.js"></script>
    <script type="text/javascript" id="jsScript" lookup="{{data}}" src="/asset/script.js"></script>
</head>
<body>
    <div><span id="connected"></span><div id="Cue"></div></div>
    <div class="grid">
        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>

        <div class="leftspot">...</div>
        <div class="midcue">...</div>
        <div class="rightspot">...</div>
    </div>
</body>
</html>
