html, body {
	font-family: 'Acme', sans-serif;
	color: lightgrey;
	background-color: rgb(55, 58, 58);
}

@media only screen and (min-device-width: 600px) {
	.item {
		grid-template-columns: 40% 60%;
	}

	body {
		font-size: 40px;
	}

	#cue {
		font-size: 250px;
	}

	.current-notes {
		grid-template-columns: 20% 80%;
	}

	.next-notes {
		grid-template-columns: 20% 80%;
	}

	.notes-heading {
		font-size: 32px;
	}

	.notes-content {
		font-size: 24px;
	}
}

@media screen and (max-device-width: 600px) {
	.item {
		grid-template-columns: 100%;
		word-wrap: break-word;
	}

	.item-value {
		text-align: center;
	}

	body {
		font-size: 80px;
	}

	#cue {
		padding: 10%;
		font-size: 400px;
	}

	.current-notes {
		grid-template-columns: 100%;
	}

	.next-notes {
		grid-template-columns: 100%;
	}

	.notes-heading {
		font-size: 20px;
	}

	.notes-content {
		font-size: 16px;
	}
}

#cue {
	text-align: center;
} 

.item-heading {
	margin-left: 10%;
}

html,body {
	height: 100%;
}

body {
	margin: 0;
}

.grid {
	display: grid;
	background-color: rgb(55, 58, 58);
	padding:30px;
	display: grid;
	grid-template-columns: 40% 20% 40%;
	grid-gap: 5px;
}

#cue {
	grid-area: cue;
	background-color: rgb(55, 58, 58);
	line-height: 250px;
	color: rgb(5, 139, 172)
}

#connected {
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

#connected.red {
	background-color: red;
}

#connected.green {
	background-color: green;
}
